$main-font: "Roboto";
$background-color: #f4f5fa;
$default-font-size: 20px;
$tag-background-color: #a21616;
$tag-color: #fff;
$error-text-color: #a21616;
$rating-color: #5483fa;
$accent-color: #a21616;
$secondary-color: #5483fa;
$showitem-background: #fff;
$showitem-background-hover: #eaeaea;
$show-background: #e0e0e0;
$modal-overlay: rgba(0, 0, 0, 0.06);
$season-background: #e2e2e2;
