@import "./assets/styles/variables";
body {
  margin: 0;
  font-family: $main-font, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $background-color;
  font-size: $default-font-size;
}

p {
  word-break: break-word;
}
.container-fluid {
  padding: 0;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tags li {
  float: left;
}

.tag {
  background: $tag-background-color;
  border-radius: 3px 0 0 3px;
  color: $tag-color;
  display: inline-block;
  height: 26px;
  font-size: 1rem;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #f4f5fa;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #a21616;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  text-decoration: none;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

.Error {
  display: flex;
  margin: 1rem;
  justify-content: center;
  color: $error-text-color;
}

.far.fa-star {
  color: $rating-color;
}

.fas.fa-star:before {
  color: $rating-color;
}

.btn-primary {
  border-top-right-radius: 4.25rem;
  border-bottom-right-radius: 4.25rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #fff;
  background-color: $accent-color;
  border-color: $accent-color;
  text-shadow: 2px 1px 3px black;
  &:not(:disabled):not(.disabled):active,
  &:focus,
  &:active,
  &:hover {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
  .fas.fa-search {
    margin-right: 0.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .btn-primary {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }

  .siteRating {
    display: block;
    margin: 1rem;
  }
}
