@import "../../assets/styles/variables";

.Show {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem;
  margin-bottom: 0rem;
  padding: 0 15px;
  flex-wrap: wrap;
  .Logo {
    max-width: 200px;
    img {
      max-width: 100%;
    }
  }
  form {
    width: 100%;
    margin-left: 1rem;
  }
  #__listItemProps {
    position: absolute;
    width: 100%;
    margin-left: 1rem;
    max-width: 500px;
    z-index: 999;
  }
}

.Show-SearchForm {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  max-width: 800px;
}

.ShowContainer {
  margin: 0 1rem;
  .row:last-child {
    margin-top: 1rem;
  }
}
.ShowHeader {
  text-align: center;
  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tags li {
    float: left;
  }

  .tag {
    background: $tag-background-color;
    border-radius: 3px 0 0 3px;
    color: $tag-color;
    display: inline-block;
    height: 26px;
    font-size: 1rem;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    transition: color 0.2s;
    -webkit-transition: color 0.2s;
  }

  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }

  .tag::after {
    background: #f4f5fa;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #a21616;
    border-top: 13px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0;
  }

  .tag:hover {
    background-color: crimson;
    text-decoration: none;
    color: white;
  }

  .tag:hover::after {
    border-left-color: crimson;
  }

  .far.fa-star {
    color: $rating-color;
  }

  .fas.fa-star:before {
    color: $rating-color;
  }
}

.ShowOverview {
  margin-top: 1rem;
  background: $show-background;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #585858;
  border-radius: 15px;
}

.ShowData {
  margin-top: 1rem;
  background: $show-background;
  padding: 1rem;
  margin-bottom: 2rem;
  color: #585858;
  border-radius: 15px;
  p {
    border-bottom: 1px solid #bfbfbf;
    padding-bottom: 5px;
  }
}
.ShowPoster {
  max-width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

.styles_overlay__CLSq- {
  background: $modal-overlay;
}

.Episode {
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  border-bottom: 1px solid gray;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  img {
    margin-bottom: 1rem;
  }
  &:last-child {
    border-bottom: none;
  }
  h3 {
    font-size: 1.2rem;
    font-weight: 800;
  }
}

.Season {
  border: 1px solid #adadad;
  background: $season-background;
}

.ShowsContainer {
  h1 {
    text-align: center;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Show-SearchForm {
    flex-direction: column;

    form {
      margin-left: 0;
    }
    #__listItemProps {
      width: 100%;
      margin-left: 0;
      max-width: 90vw;
    }
  }
  .ShowItem {
    .row {
      p {
        text-align: center;
      }

      .overview {
        p {
          text-align: start;
        }
        h3 {
          text-align: center;
        }
      }
    }
  }
}
